# Virtual env
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Data / models (important for AI projects)
data/
models/
*.csv
*.parquet

# Secrets
*.key
*.pem

# Build
dist/
build/
*.egg-info/